---
import ComboCard from "./cards/ComboCard.astro";
import SectionContainer from "../components/SectionContainer.astro";
import { COMBOS } from "@/const/combos";
---

<SectionContainer title="Boxes & Tablas" subtitle="Para el grupo" name="combos">
  <section class="relative">
    <div
      class="flex gap-5
      overflow-x-auto
      snap-x snap-mandatory
      py-4
      scrollbar-thin
      scrollbar-track-transparent
      scrollbar-thumb-[#c89b3c]/20"
    >
      {
        COMBOS.map((combo) => (
          <div
            class="
            min-w-[320px]
            max-w-[320px]
            snap-start
            shrink-0
          "
          >
            <ComboCard
              id={combo.slug}
              name={combo.name}
              shortName={combo.name}
              price={combo.price}
              pieces={combo.portion?.toString() || ""}
              description={combo.shortDescription}
              slug={combo.slug}
              img={combo.image}
            />
          </div>
        ))
      }
    </div>
  </section>
</SectionContainer>

<style>
  .combos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background: var(--border);
  }
</style>
